node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.idea
.vscode
.cursorrules
.claude
src/frontend/.next
.serena/cache/go/document_symbols_cache_v23-06-25.pkl
